* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BEGIN ALL PAGES STYLE */
html, body {
    height: 100%;
}

.header {
    background-color: lightsalmon;
    color: black;
    text-align: left;
    padding: 30px;
    font-size: 32px;
    font-weight: bolder;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px 8px lightsalmon;
    font-size: 20px;
}

button {
    padding: 10px 24px;
    background-color: transparent;
    text-shadow: 1px 1px 4px lightsalmon;
    border-radius: 15px;
    transition: 0.3s;
}

button:hover {
    background-color: lightsalmon;
    transition: 0.3s;
}
/* END ALL PAGES STYLE */


/* BEGIN INDEX PAGE STYLE */
.view-hs {
    text-align: left;
    margin: 5px;
    text-shadow: 1px 1px 4px lightsalmon;
}

.view-hs:hover {
    text-decoration: underline;
}

.code-title {
    text-align: center;
    font-size: 24px;
    margin: 15px;
}

.code-intro {
    text-align: center;
    margin: 10px;

}

.start-quiz-btn-wrapper {
    display: flex;
    justify-content: center;
}
/* END INDEX PAGE STYLE */


/* BEGIN HIGH SCORE PAGE STYLE */
.high-score-screen-wrapper {
    display: none;
}

.score-header {
    text-align: center;
    margin: 15px;
}

.highscore-list-wrapper {
    display: flex;
    justify-content: center;
}

.hs-list {
    background-color: lightsalmon;
    padding: 0 150px;
}

.hs-li {
    border-radius: 10px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}
/* END HIGH SCORE PAGE STYLE */


/* BEGIN END PAGE STYLE */
.end-screen-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    display: none;
}

.display-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-wrapper p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.4;
}

.end-screen-header {
    text-align: center;
}

#back-to-start {
    margin: 20px;
}

/* SUBMIT SCORE STYLE */
.enter-score-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#score {
    align-self: center;
    margin: 10px;
}

.form-group {
    margin: 4px;
}

.form-group input {
    padding: 10px 0 10px 5px;
}

.hs-form-wrapper {
    display: flex;
    align-items: center;
}
/* END HIGH SCORE PAGE STYLE */


/* BEGIN QUESTION PAGE STYLE */
.question-screen-wrapper {
    display: flex;
    flex-direction: column;
    display: none;
}

.timer-wrapper {
    border: 2px solid black;
    width: 175px;
    align-self: flex-end;
}

.question-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#display-question {
    margin-bottom: 10px;
}

.game-answers-wrapper {
    display: flex;
    flex-direction: column;
}

.game-answers-wrapper button {
    margin: 10px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0 10px 0;
}

.next-question-button-wrapper {
    display: flex;
    justify-content: center;
}

.choose-option-wrapper, .right-option-wrapper, .wrong-option-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    display: none;
}

.choose-option-wrapper p, .wrong-option-wrapper p {
    color: red;
    font-weight: bold;
}

.right-option-wrapper p {
    color: green;
    font-weight: bold;
}

/* ALL QUESTIONS ANSWERED & TIMEOUT STYLE */
.end-of-quiz-overlay, .timeout-overlay {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.end-of-quiz-overlay {
    display: none;
}

.timeout-overlay {
    display: none;
}

.quiz-over, .time-up {
    margin-bottom: 20px;
}
/* END QUESTION PAGE STYLE */